@use "variables" as *;

.legal-container {
  max-width: 800px;
  margin: 4rem auto;
  padding: 2rem;
  background-color: $color-white;
  border-radius: $border-radius-lg;
  box-shadow: $shadow-md;
  line-height: 1.7;
  color: $color-text-primary;

  h1 {
    font-size: $font-size-2xl;
    color: $color-text-primary;
    margin-bottom: 1.5rem;
    text-align: center;
    font-family: $font-family-primary;
  }

  h2 {
    font-size: $font-size-xl;
    color: $color-primary;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid $color-gray-light;
    padding-bottom: 0.5rem;
    font-family: $font-family-primary;
  }

  p,
  li {
    font-size: $font-size-base;
    margin-bottom: 1rem;
    color: $color-text-light;
  }

  ul {
    list-style-type: disc;
    padding-left: 20px;
  }
}
